.right {
    float: right;
    margin-left: auto;
}

/* ===================== *\
    # Exercise
\* ===================== */

.exerciseHeader {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 1rem;

    padding: 1rem;
}

.currentExercise {
    grid-column: span 2;

    display: flex;
    gap: 0.4rem;
}

/* ======================== *\
    # History Item
\* ======================== */

.historyList {
    text-align: center;
}

.historyItem {
    /* background-color: rebeccapurple; */
}

.viewfullhistory {
    display: block;
    text-align: center;
}
