/* ======================== *\
    #Links
\* ======================== */

.link {
    @apply text-white underline transition ease-out duration-200;
}
.link:hover {
    @apply text-gray-400;
}

/* ======================== *\
    #Form Components
\* ======================== */

.btn {
    @apply bg-primary-500 
        text-gray-200 
        text-center
        shadow
        px-lg 
        py-xs 
        rounded;
    @apply transition 
        ease-out
        duration-200;
}
.btn:hover {
    @apply bg-primary-900 text-white;
}

/* ======================== *\
    #Tailwind
\* ======================== */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================== *\
    #Base Elements 
\* ======================== */

body {
    @apply font-sans
        bg-background
        text-white;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}

button {
    @apply btn;
}
