/* ======================== *\
    #Base Elements 
\* ======================== */

@tailwind base;

body {
    @apply font-sans
        bg-background
        text-black
        mx-auto
        p-lg
        max-w-2xl;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}

/* ======================== *\
    #Form Components
\* ======================== */

@tailwind components;

button {
    @apply btn;
}
.btn {
    @apply block
        bg-primary-500 
        text-black
        text-center
        uppercase
        font-bold
        px-lg 
        py-xs 
        rounded
        border-2
        border-transparent;
    @apply transition 
        ease-out
        duration-200;
}
.btn:hover,
.btn:focus {
    @apply bg-primary-700 border-black text-black;
}

/* ======================== *\
    #Links
\* ======================== */

.link {
    @apply text-black underline transition ease-out duration-200;
}

@tailwind utilities;
